@import url("estilo_predeterminado.css");
@import url("estilo_index.css");
@import url("estilo_letras.css");
@import url("estilo_articuloss.css");
@import url("estilo_form.css");

:root {
    --color_header: #FFFFFF; /* Blanco para el texto del encabezado */
    --fondo_header: #181818; /* Un negro ligeramente más claro para el encabezado */
    --borde_top: #333333; /* Gris oscuro para el borde */
    --footer_h4: #FFFFFF; /* Blanco para los títulos del pie de página */
    --footer_ol: #BBBBBB; /* Gris claro para las listas ordenadas */
    --footer_address: #D58585; /* Azul claro para las direcciones en el pie de página */
  }
  
body {
    background-color: #202123 ;
}

img[alt="logo"], img[alt="copyright"] {
    filter: invert(1);

}

h2,p, h3, ol, li {
    color: white;
}



:root {
    --color_menu: white;
    --fondo_menu: black;
    --fondo_hover: #FC4040;
    --fondo_temas: #3D3D3D;
 }

address  {
    color: white;

}

img[alt=""], img[alt="Partes cuerpo humano"] {
 filter: invert(0.7) grayscale(100%) brightness(1.1) contrast(1.2);
    
}

a {
    color: #d87474;
}

article a {
    color: #eab8b8;
}


#salto {
    float: right;
	color: transparent; /* Oculta el texto del enlace haciéndolo transparente */
    background-color: transparent; /* Sin fondo */
}

#salto:hover, #salto:focus {
    color: #d87474; /* Muestra el enlace al poner el foco o pasar el ratón */
}



h4 {
    color:white;
}


:root {
    --fondo_arti: #3D3D3D;
    --color_borde: #C9AEE5;
    --fondo_tabla: #e3e3e3;
    --fondo_h3: black;
    --color_h3: #285151;
}
figcaption {
    color: white;

}

td{
    color:white;

}

caption {
    color: var(--color_borde)
}


#radio {
    color:black;
}



:root {
    --color_bordeform:#6EDBDB;
    --color_bordef:#ccc;
    --fondo_field: white;
    --fondo_input: #DEEFEF;
    --color_input: black;
    --fondo_boton: #2C5656;

}

label{
    color:white;

}
legend {
    background-color: #202123;
    color: var(--color_bordeform);
}









