@import url("estilo_predeterminado.css");
@import url("estilo_index.css");
@import url("estilo_letras.css");
@import url("estilo_articuloss.css");
@import url("estilo_form.css");


ol a, h3 a, a, button, input {
  padding: 4px;
  margin: 5px;
  font-size: 18px;
}

/* Mejorar visibilidad del foco */
a:focus, button:focus, input:focus, area:focus {
  outline: 4px solid #ffcc00; /* Resaltar el enfoque */
}




